<h1>Profiles</h1>
<strong>Name:</strong> <%= @profile&.name || 'No User Profile' %><br>
<%= link_to 'Show', user_profile_path(current_user), class: 'button' %>

<%= link_to 'Create New Profile', new_user_profile_path(current_user), class: 'button' %>
